@import url("https://fonts.googleapis.com/css?family=Farro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");

html {
  min-height: 100vh;
}

body {
  font-family: Farro, Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(45deg, rgb(223, 223, 223), rgb(252, 249, 249));
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

.test {
  color: rgba(0, 0, 0, 0.349);
}
